body {
    background-color: #F5F5DC;
}
.navbar {
    background-color: pink !important; 
}

.container {
    padding-top: 50px;
}

.logo {
    max-width: 100px;
    height: auto;
}

.product-carousel {
    margin-top: 20px;
    text-align: center;
}

.product-carousel img,
.product-table img {
    max-width: 100%; 
    height: auto;
}

.product-table {
    margin-top: 20px;
    width: 100%;
}

.product-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

@media (max-width: 1024px) {
    .product-carousel img,
    .product-table img {
        max-width: 60%; 
    }
}

@media (max-width: 720px) {
    .product-carousel img,
    .product-table img {
        max-width: 80%; 
    }
}

@media (max-width: 480px) {
    .product-carousel img,
    .product-table img {
        max-width: 100%; 
    }
}

.barra-lateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px; 
    right: 0;
    background-color: #ecdbe8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}




.barra-lateral h2 {
    text-align: center;
    color: #333;
}

.cerrar-barra-lateral {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.abierta {
    width: 300px;
}


.product-table td {
    position: relative; 
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.product-cell {
    position: relative;
}

.product-content {
    margin-bottom: 30px;
}

.product-name,
.product-price {
    margin-bottom: 5px; 
}

.comprar-btn {
    position: absolute;
    bottom: 5px; 
    left: 50%;
    transform: translateX(-50%); 
}

.carrito-item {
    position: relative;
}

.eliminar-item {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red; 
    cursor: pointer;
}
