body {
    background-color: #e3e3e3;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.custom-image {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn {
    width: 200px;
}

.icon-img {
    width: 30px;
    height: 30px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-top: 56px;
    height: 0;
    overflow: hidden;
    text-align: center;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}

.carousel-caption {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    right: auto;
}

.carousel-caption {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.carousel-caption h2 {
    font-family: Segoe UI;
    color: white;
    font-size: 35px;
    margin: 0;
}

#myCarousel {
    margin-top: 40px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para el footer */
footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #f2f2f2;
    color: #333;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
}

footer h3 {
    color: #333;
    margin-bottom: 15px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #007bff;
}

footer .social-icons {
    margin: 0;
    padding: 0;
}

footer .social-icons li {
    display: inline-block;
    margin-right: 10px;
}

footer .social-icons li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s;
}

footer .social-icons li a:hover {
    background-color: #162536;
}

footer p {
    margin: 0;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .navbar-nav a,
    .form-inline input,
    .form-inline button {
        font-size: 22px; /* Ajusta el tamaño de fuente para dispositivos móviles */
    }

    /* Aumenta el tamaño de fuente al desplegar las opciones de la barra de navegación */
    .navbar-collapse.show .navbar-nav a {
        font-size: 22px;
    }

    /* Aumentar tamaño de fuente para barra de búsqueda */
    .form-inline input {
        font-size: 20px;
    }

    .form-inline button {
        font-size: 20px;
    }

    /* Aumentar altura de la barra de navegación al desplegar las opciones */
    .navbar-collapse {
        max-height: 300px; /* Ajusta según sea necesario */
    }
    .carousel-inner img {
        display: block;
        margin: 0 auto;
        width: 350px; /* Ajusta el ancho al 100% para que todas las imágenes tengan el mismo ancho */
        height: 400px;
    }

    /* Establecer dos columnas para las imágenes en dispositivos móviles */
    .text-center .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .video-container {
        padding-top: 0;
        margin-top: 1;
    }

    .video-container video {
        width: 100%; /* Haz que el video ocupe el 100% del ancho del contenedor */
        max-height: 190px; /* Ajusta la altura máxima según sea necesario */
    }
    footer {
        text-align: center;
        padding: 20px 10px;
    }

    /* Estilos para las columnas del footer en dispositivos móviles */
    footer .col-md-4 {
        margin-bottom: 20px;
    }

    /* Estilos para los íconos de redes sociales en el footer en dispositivos móviles */
    footer .social-icons {
        text-align: center;
    }

    footer .social-icons li {
        display: inline-block;
        margin: 0 5px;
    }

    footer .social-icons li a {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        background-color: #333;
        color: #fff;
        transition: background-color 0.3s;
    }

    footer .social-icons li a:hover {
        background-color: #1b2026;
    }
    
}
