body {
    background-color: #fbf0e8;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.card {
    background-color: #998f8f;
    color: #ffffff;
    margin: 20px;
    border: 1px solid #555;
}

.btn-dark {
    background-color: #ffffff;
    color: #705235;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media only screen and (max-width: 767px) {
    .navbar-nav a,
    .form-inline input,
    .form-inline button {
        font-size: 22px;
    }

    .navbar-collapse.show .navbar-nav a {
        font-size: 22px;
    }

    .form-inline input {
        font-size: 20px;
    }

    .form-inline button {
        font-size: 20px;
    }

    .navbar-collapse {
        max-height: 300px;
    }
    
}
